body{
  text-align: center;
}

.skill{
  height:500px;
  width: 500px;
}
.img-holder{
  padding: .5em;
}
a.anchor {
  display: block;
  text-decoration: none;
  position: relative;
  top: -150px;
  visibility: hidden;
}
img{
  max-width:100%;
  max-height:100%;
}
.fadein{
    opacity: 1;
    animation: fadein 1s linear;
  }
  
  @keyframes fadein{
    from{opacity: 0;}
    to{opacity: 1;}
  }
  .fadeout{
    opacity: 0;
    animation: fadeout 1s linear;
  }
  @keyframes fadeout{
    from{ opacity: 1}
    to{ opacity: 0}
  }