@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC|Source+Sans+Pro');

body{
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

.title-name {
  font-family: 'Playfair Display SC', serif;
  font-size: 4em;
}

h1, h2 {
  font-family: 'Playfair Display SC', serif;
}

.navtags {
  padding: 10px;
}
.intro-words {
  padding: 25px 50px;
}

.intro-para {
  text-align: justify;
}

@media (max-width: 769px) {
  .skill-icon {
    height: 175px;
    width: auto;
  }
}

@media (max-width: 750px) {
  .title-name {
    font-size: 3em;
  }
}

@media (max-width: 550px) {
  .skill-icon {
    height: 125px;
    width: auto;
  }
}

@media (max-width: 500px) {
  .title-name {
    font-size: 2em;
  }
}

.img-holder{
  padding: .5em;
}
a.anchor {
  display: block;
  text-decoration: none;
  position: relative;
  top: -170px;
  visibility: hidden;
}
img{
  max-width:100%;
  max-height:100%;
}
.fadein{
    opacity: 1;
    animation: fadein 1s linear;
  }
  
  @keyframes fadein{
    from{opacity: 0;}
    to{opacity: 1;}
  }
  .fadeout{
    opacity: 0;
    animation: fadeout 1s linear;
  }
  @keyframes fadeout{
    from{ opacity: 1}
    to{ opacity: 0}
  }